<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Informacion del Caballo</title>
</head>
<body>
    <h1>Información del caballo</h1>
    <body>
    <h1>Formulario</h1>
    <form th:action="@{/procesar}" th:object="${usuario}" method="post">
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" /><br/>
        
        <label>Edad:</label>
        <input type="number" th:field="*{edad}" /><br/>

        <label>Velocidad Maxima:</label>
        <input type="number" th:field="*{velocidadMaxima}" /><br/>
        
         <label>Numero de triunfos:</label>
        <input type="number" th:field="*{numeroTriunfos}" /><br/>
        
         <label>Experiencia:</label>
        <input type="number" th:field="*{experiencia}" /><br/>
        
       

        <button type="submit">Enviar</button>
    </form>
</body>
</body>
</html>