<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultado</title>
</head>
<body>
    <h1>Datos recibidos</h1>
    <p>Nombre: <span th:text="${caballoProcesado.nombre}"></span></p>
    <p>Edad: <span th:text="${caballoProcesado.edad}"></span></p>
    <p>Edad: <span th:text="${caballoProcesado.velocidadMaxima}"></span></p>
    <p>Edad: <span th:text="${caballoProcesado.numeroTriunfos}"></span></p>
    <p>Edad: <span th:text="${caballoProcesado.experiencia}"></span></p>
</body>
</html>