<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<html>
<head>
<meta charset="UTF-8">
<title>Consulta de caballos</title>
</head>
<body>
	<h2>Consulta los caballos introducidos</h2>

	<table border="6">
		<tr>
		    <th>Id</th>
			<th>Nombre</th>
			<th>Edad</th>
			<th>Velocidad Maxima</th>
			<th>Numero de triunfos</th>
			<th>Experiencia</th>
		</tr>
		<tr>
		     <td th:text="${caballoProcesado.nombre}"></td>
		     <td th:text="${caballoProcesado.edad}"></td>
			 <td th:text="${caballoProcesado.velocidadMaxima}"></td>
			 <td th:text="${caballoProcesado.numeroTriunfos}"></td>
			 <td th:text="${caballoProcesado.experiencia}"></td>
		</tr>